.top-bar{
  background-image:url("../images/video.gif");
}
.top-bar-left{
  color: white;
}

.title-bar, .top-bar ul, a{
  background-color:transparent;
  color: white;
}

.wrap {
  width: 90% ;
  margin: 0px auto;
  max-width: 1100px ;
}

.menu-vertical {
  display: block;
  color:transparent ;
}
/* below this comment deals with the HOME PAGE  ************************************
**************************************************************************** */
.text1 {
  background-color: #999;
  padding: 240px 0px;
  background-image: url("../images/video.gif");
}
.text1 h1 {
  color: white ;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}
.text1 p {
  width: 78%;
}
.text2 {
  padding: 50px 0px;
}

/* attributes of the footer (only effects the block by the footer) ************
**************************************************************************** */
footer {
  background-color: #222;
  padding: 80px 0px;
}

footer a {
  display: block;
  background-color: #222;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.3);
}

footer hr{
  border: 1px solid #643952 ;
  margin: 10px 0;
}

footer h4 {
  color: white;
  font-size: 20px;
  float: left;
}
footer a {
  color: #396461;
  font-size: 0.9em;
}

footer a span{
  font-weight: bold ;
  color: #1d3332 ;
}

/* PROJECTS CSS    (below) ****************************************************
**************************************************************************** */
.floating-box {
  float: left;
  width: 200px;
  height: 50px;
  margin: 30px;
  border: 5px solid #708090;
  text-align: center;
  padding: 80px 0px;
  color: black;
  background-color: #708090;

}
.floating-box:hover {
    background-color:#BC8F8F;
}


/* about me css (below) ****************************************************
**************************************************************************** */
.text1B {
    background-color: white;
    color: white;
    padding: 80px 0px ;
  }
  .text1B h1 {
    color: white ;
  }
  .text1B p {
    width: 78%;
  }
.bio,h2 {
  text-align: center;
  background-image: ;
  padding: 40px 0px;
  font-family: 'Homemade Apple', cursive;

}
img2 {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  height: auto;
}
.sidebar2 {
          float: right;
          width: 500px;
          font-family: 'Nixie One', cursive;
}
  /*education css (below) ****************************************************
  **************************************************************************** */
  .text1C, h3 {
        background-color: white;
        color: black;
        padding: 10px 0px;
        font-family: 'Homemade Apple', cursive;
        text-align: center;
  }

.sidebar, h4 {
          float: right;
          width: 250px;
          font-family: 'Nixie One', cursive;
}
.demo {
  border:1px solid #4A4A4A;
  border-collapse:collapse;
  padding:7px;
  width: 140%;
}
.demo th {
  border:1px solid #4A4A4A;
  padding:7px;
  background:#D7D7D7;
}
.demo td {
  border:1px solid #4A4A4A;
  padding:7px;
}
/*contact css (below) ****************************************************
**************************************************************************** */
.text1D {
      background-color: white;
      color: black;
      padding: 50px 0px;
}
.text1D h3 {
      color: black ;
      font-family: 'Homemade Apple', cursive;
}
.text1d p {
      width: 78%;
}

.info{
  text-align: center;
}
.info2{
  text-align: center;
}
.info3{
  text-align: center;s
}
/*ARMORY (below) ****************************************************
**************************************************************************** */
.text1E, h5{
      background-color: white;
      color: black;
      padding: 50px 0px;
      font-family: 'Homemade Apple', cursive;
      letter-spacing: 3px;
}
.sidebar3,h4 {
          float: right;
          width: 180px;
          font-family: 'Nixie One', cursive;
}
.sidebar5 {
          float: right;
          width: 500px;
          font-family: 'Nixie One', cursive;
}

/*GLOBAL 2  (below) ****************************************************
**************************************************************************** */
.text1F {
      background-color: white;
      color: white;
      padding: 30px 0px;
      font-family: font-family: 'Tillana', cursive;
      background-position: center;
}

/*fair css (below) ****************************************************
**************************************************************************** */

.text1G, h3 {
      background-color: white;
      color: black;
      padding: 48px 0px;
      font-family: 'Homemade Apple', cursive;
    }
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: 400px;
}
img {
  padding-left: 15px;

}
/*letters  css (below) ****************************************************
**************************************************************************** */


.text1H {
      background-color: white;
      color: white;
      padding: 20px 0px;
      font-family: 'Nixie One', cursive;

  }
